[submodule "data_selection/third_party/DCLM"]
	path = data_selection/third_party/DCLM
	url = git@github.com:mlfoundations/DCLM.git
[submodule "data_selection/third_party/LlamaFactory"]
	path = data_selection/third_party/LlamaFactory
	url = git@github.com:hiyouga/LlamaFactory.git
